<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taufik.androidintemediate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".advancedatabase.roomdatabaserelation.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidIntemediate"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".firebase.FirebaseMainActivity"
            android:exported="false" />
        <activity
            android:name=".advancedatabase.paging.ui.MainPagingActivity"
            android:exported="false" />
        <activity
            android:name=".advancedatabase.roomdatabaserelation.ui.RoomRelationDbActivity"
            android:exported="false" />
        <activity
            android:name=".advancedtesting.ui.list.NewsHomeActivity"
            android:exported="false" />
        <activity
            android:name=".geolocation.geofence.GeofenceActivity"
            android:exported="false" />
        <activity
            android:name=".advancedtesting.ui.detail.NewsDetailActivity"
            android:exported="false" />

        <receiver
            android:name=".geolocation.geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".geolocation.locationtracker.LocationTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".geolocation.googlemaps.GoogleMapsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCBi5NiIjTlK3g5-GCs0EuhAHirG7dB3Ao" />

        <activity
            android:name=".media.cameraxgalleryupload.MainCameraXActivity"
            android:exported="false" />
        <activity
            android:name=".media.cameraxgalleryupload.CameraXActivity"
            android:exported="false" />
        <activity
            android:name=".media.exoplayer.ExoPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".media.mediaplayerservice.ServiceMediaPlayerActivity"
            android:exported="false" />

        <service
            android:name=".media.mediaplayerservice.MediaService"
            android:enabled="true" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".media.mediaplayer.MediaPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".media.soundpool.SoundPoolActivity"
            android:exported="false" />
        <activity
            android:name=".service.serviceboundservice.ServiceActivity"
            android:exported="false" />

        <service
            android:name=".service.serviceboundservice.MyBoundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.serviceboundservice.MyService"
            android:enabled="true" />

        <activity
            android:name=".localizationaccessibility.accessibility.AccessibilityActivity"
            android:exported="false" />
        <activity
            android:name=".localizationaccessibility.formattinginformation.FormattingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".localizationaccessibility.adaptivelayout.AdaptiveLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".localizationaccessibility.localization.LocalizationActivity"
            android:exported="false" />
        <activity
            android:name=".animation.motionlayout.MotionMainActivity"
            android:exported="false" />
        <activity
            android:name=".animation.activitytransition.view.MainHeroActivity"
            android:exported="false" />
        <activity
            android:name=".animation.activitytransition.view.DetailHeroActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".advancedui.webview.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.main.MainAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.login.LoginActivity"
            android:exported="false" />

        <service
            android:name="com.taufik.androidintemediate.advancedui.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.taufik.androidintemediate.advancedui.widget.ImageBannerWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>
        <receiver
            android:name="com.taufik.androidintemediate.advancedui.widget.RandomNumberWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/random_number_widget_info" />
        </receiver>

        <activity
            android:name="com.taufik.androidintemediate.advancedui.canvas.CanvasActivity"
            android:exported="false" />
        <activity
            android:name="com.taufik.androidintemediate.advancedui.customviewfromscratch.SeatsActivity"
            android:exported="false" />
        <activity
            android:name="com.taufik.androidintemediate.advancedui.custombuttonedittext.CustomButtonEdittextActivity"
            android:exported="false" />
        <activity
            android:name="com.taufik.androidintemediate.advancedui.canvas.CanvasClippingActivity"
            android:exported="false" />
        <activity
            android:name=".firebase.FirebaseLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.taufik.androidintemediate.media.cameraxgallery"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>