<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taufik.androidintemediate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidIntemediate"
        tools:targetApi="31">
        <activity
            android:name=".service.serviceboundservice.ServiceActivity"
            android:exported="false" />

        <service
            android:name=".service.serviceboundservice.MyBoundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.serviceboundservice.MyService"
            android:enabled="true" />

        <activity
            android:name=".localizationaccessbility.accessibility.AccessibilityActivity"
            android:exported="false" />
        <activity
            android:name=".localizationaccessbility.formattinginformation.FormattingInformationActivity"
            android:exported="false" />
        <activity
            android:name=".localizationaccessbility.adaptivelayout.AdaptiveLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".localizationaccessbility.localization.LocalizationActivity"
            android:exported="false" />
        <activity
            android:name=".animation.motionlayout.MotionMainActivity"
            android:exported="false" />
        <activity
            android:name=".animation.activitytransition.view.MainHeroActivity"
            android:exported="false" />
        <activity
            android:name=".animation.activitytransition.view.DetailHeroActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".advancedui.webview.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.signup.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.main.MainAnimationActivity"
            android:exported="false" />
        <activity
            android:name=".animation.propertyanimation.view.login.LoginActivity"
            android:exported="false" />

        <service
            android:name="com.taufik.androidintemediate.advancedui.widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name="com.taufik.androidintemediate.advancedui.widget.ImageBannerWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>
        <receiver
            android:name="com.taufik.androidintemediate.advancedui.widget.RandomNumberWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/random_number_widget_info" />
        </receiver>

        <activity
            android:name="com.taufik.androidintemediate.advancedui.canvas.CanvasActivity"
            android:exported="false" />
        <activity
            android:name="com.taufik.androidintemediate.advancedui.customviewfromscratch.SeatsActivity"
            android:exported="false" />
        <activity
            android:name="com.taufik.androidintemediate.advancedui.custombuttonedittext.CustomButtonEdittextActivity"
            android:exported="false" />
        <activity
            android:name="com.taufik.androidintemediate.advancedui.canvas.CanvasClippingActivity"
            android:exported="false" />
        <activity
            android:name=".media.soundpool.SoundPoolActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>